body{
    background-color: lightblue;
}

h1{
    color: darkcyan;
}

.multipart{
    position: absolute;
    right: 0;
    top: 100px;
}

.table-profile{
    position: absolute;
    left: 19%;
    top: 100px;
    background-color: antiquewhite;
    opacity: 0.8;
    border-radius: 10px;
}

h2{
    position: absolute;
    left: 38%;
    top: 50px;
    color: darkcyan;
}

.h3-1{
    position: absolute;
    right:  17%;
    top: 5%;
    color: darkcyan;
}

.friends-profile{
    position: absolute;
    right: 3%;
    top: 50%;
    background-color: antiquewhite;
    opacity: 0.8;
    border-radius: 10px;
}

.h3-3{
    position: absolute;
    right: 15%;
    top: 40%;
    color: darkcyan;
}
.new-order-button{
    position: absolute;
    left: 39%;
    top: 25px;
}

.order-execute{
    position: absolute;
    left: 19%;
    background-color: antiquewhite;
    border-radius: 10px;
}

.h3-2{
    position: absolute;
    right:  50%;
    top: 84%;
    color: darkcyan;
}