.password{
    position: relative;
    left: 850px;
    top: -70px;
}

.username{
    position: relative;
    top: -50px;
    left: 650px;
}

.logo{
    position: relative;
    color: darkcyan;
    padding: auto;
    left: 10px;
    size: 100px;
}

.login-button{
    position: relative;
    left: 1050px;
    top: -90px;
}

.link-registration{
    position: relative;
    left: 1110px;
    top: -110px;
}

.welcome{
    position: relative;
    left: 400px;
    color: cadetblue;
}

.back{
    background-image: url("pictures/fd_header1.jpg");
    background-size: 100%;
}

.login{
    position: relative;
    left: 400px;
    top: 25px;
}

.tables-position{
    position: relative;
    top: 100px;
}

.table-users{
    position: relative;
    top: 30px;
    color: dodgerblue;
    background-color: beige;
    opacity: 0.8;
    border-radius: 10px;
}

.table-orders{
    position: absolute;
    color: dodgerblue;
    background-color: beige;
    top: 30px;
    left: 350px;
    opacity: 0.8;
    border-radius: 10px;
}

.error{
    color: wheat;
    background-color: darkcyan;
}

.header{
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 5px;
    background-color: transparent;
}

.header-banner{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -100;
    opacity: 0.9;
}

.order-button{
    position: absolute;
    top: 35px;
    right: 126px;
}

.logout-button{
    position: absolute;
    top: 35px;
    right: 50px;
}

.profile-button{
    position: absolute;
    top: 35px;
    right: 225px;
}

body{
    background-color: grey;
}

.avatar{
    position: absolute;
    top: 20%;
    right: 4%;
    border-radius: 100px;
}

.userPage{
    position: absolute;
    top: 0;
    left: 10%;
}

.orderPage{
    position: absolute;
    top: 0;
    left: 50%;
}

.grey{
    color: grey;
}

/*.slider{*/
/*    position: relative;*/
/*    top: 200px;*/
/*}*/